<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>TeamPlay Home</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <% if (locals.games) { %>
        <link rel="stylesheet" href="/public/css/quiz.css">
    <% }%>
    <% if (locals.editGame) { %>
        <link rel="stylesheet" href="/public/css/EditGame/style.css">
        <link rel="stylesheet" href="/public/css/CustomControls.css">
    <% }%>
    <% include blocks/title %>
</head>

<body>
    <% include blocks/loader %>
    <% include blocks/header %>
    <section class="app-container">
        <%- include('blocks/navigation-area', {page: locals.page ? locals.page : ''}) %>
        <div class="working-area">
                <%- include('blocks/page-header', {page: locals.page ? locals.page : ''}) %>
<% if (locals.games) { %>
            <% if (games.length > 0) { %>
                <%- include('blocks/quiz', {games: games}); %>
            <% } else { %>
                <%- include('blocks/greetings', {btnName: 'btnCreateQuiz'}) %>
            <% } %>
<% } else if (locals.editGame) { %>
        <%- include('blocks/editGame', {game: locals.editGame}); %>
<% } %>
        </div>
    </section>
    <% include blocks/footer %>
</body>
<% include blocks/socket %>
<script src="/public/js/animateCSS.js"></script>
<script src="/public/js/home.js"></script>
<% if (locals.games) { %>
    <script src="/public/js/quiz-page.js"></script>
<% }%>
<% if (locals.editGame) { %>
    <script src="/public/js/EditGame/index.js"></script>
<% }%>

</html>