<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>TeamPlay Home</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <% if (locals.games) { %>
    <link rel="stylesheet" href="/public/css/quiz.css">
    <% }%>
    <% if (locals.editGame) { %>
    <link rel="stylesheet" href="/public/css/EditGame/style.css">
    <link rel="stylesheet" href="/public/css/CustomControls.css">
    <% }%>
    <% if (locals.roomModels) { %>
    <link rel="stylesheet" href="/public/css/roomModel.css">
    <% }%>
    <% if (locals.teams) { %>
    <link rel="stylesheet" href="/public/css/team.css">
    <% }%>
    <% if (locals.users) { %>
    <link rel="stylesheet" href="/public/css/user.css">
    <% }%>
    <% include blocks/title %>
</head>

<body>
    <% include blocks/loader %>
    <% include blocks/header %>
    <section class="app-container">
        <%- include('blocks/navigation-area', {page: locals.page ? locals.page : ''}) %>
        <div class="working-area">
            <%- include('blocks/page-header', {page: locals.page ? locals.page : ''}) %>
            <% if (locals.games) { %>
            <% if (games.length > 0) { %>
            <%- include('blocks/quiz', {games: games}); %>
            <% } else { %>
            <%- include('blocks/greetings', {btnName: 'btnCreateQuiz'}) %>
            <% } %>
            <% } else if (locals.editGame) { %>
            <%- include('blocks/editGame', {game: locals.editGame}); %>
            <% } else if (locals.roomModels) { %>
            <% if (roomModels.length > 0) { %>
            <%- include('blocks/rooms', {roomModels: locals.roomModels}); %>
            <% } else { %>
            <%- include('blocks/greetings', {btnName: 'btnCreateRoom'}) %>
            <% } %>
            <% } else if (locals.teams) { %>
            <% if (teams.length > 0) { %>
            <%- include('blocks/teams', {teams: locals.teams}); %>
            <% } else { %>
            <%- include('blocks/greetings', {btnName: 'btnCreateTeam'}) %>
            <% } %>
            <% } else if (locals.users) { %>
            <% if (users.length > 0) { %>
            <%- include('blocks/users', {users: locals.users}); %>
            <% } %>
            <% } %>
        </div>
    </section>
    <% include blocks/footer %>
</body>
<% include blocks/socket %>
<script src="/public/js/animateCSS.js"></script>
<script src="/public/js/home.js"></script>
<% if (locals.games) { %>
<script src="/public/js/quiz-page.js"></script>
<% }%>
<% if (locals.editGame) { %>
<script src="/public/js/EditGame/index.js"></script>
<% }%>
<% if (locals.roomModels) { %>
<script>
    socket.on('RoomOnline', function (status) {
        $('.roomOnline-' + status.roomId).text('');
        $('.roomOnline-' + status.roomId).text(status.online);
    })
</script>
<% }%>
<% if (locals.editGame || locals.teams || locals.users) { %>
<script src="/public/js/listItemAction.js"></script>
<% }%>

</html>