<tr class="row-team row-team-<%=teamNamePoints.TeamId%> <%= teamNamePoints.isMyTeam ? 'table-success' : '' %>"
    teamId="<%=teamNamePoints.TeamId%>">
    <td><%=teamNamePoints.TeamName%></td>
    <td><%=teamNamePoints.Points%></td>
</tr>