<div class="room col-md-4 ml-2 mt-2 room-<%= room.roomId %>" roomTag="<%= room.roomTag %>">
    <div class="row">
        <div class="quiz-col-40">
            <img src="https://picsum.photos/100/100" class="mt-1 ml-1 img-fluid rounded" alt="">
        </div>
        <div class="text-center mt-1 quiz-col-55">
            <span class="text-dark h5"><%= room.roomName %></span>
        </div>
    </div>
    <div class="row">
        <div class="quiz-col-55">
            <div class="row">
                <div class="col-md-12 text-left">
                    <a href='/user/<%=room.roomCreatorId%>'><span>Creator: <%= room.roomCreator %></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <span class="text-dark h5"></i>
                        Team size: <%= room.maxTeamPlayers %></span>
                </div>
            </div>
        </div>
        <div class="quiz-col-40">
            <div class="row mt-3">
                <div class="col-md-12 text-right">
                    <span class="text-dark h5 mr-1">online: <span
                            class="roomOnline-<%= room.roomId %>"><%= room.usersOnline %></span></span>
                </div>
            </div>
        </div>
    </div>
</div>