<% users.forEach(function(user){ %>
<div class="user Player Player-<%= user.UserId %>">
        <div class="row">
            <div class="col-md-12">
                    <% if (user.isCoach) { %>
                        <i class="fas fa-user-tie text-success fa-4x" title="Коуч команды"></i>
                    <% } else { %>
                        <i class="fas fa-user text-secondary fa-4x"></i>
                    <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <a href="/user/<%= user.UserId %>"><%= user.userFIO %></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <% if (user.userTeam) { %>
                        <a href="/team/<%=user.userTeamTag%>"><i class="fas fa-users"></i><%=user.userTeam%></a>
                    <% } %>
            </div>
        </div>
        <% if (!user.userTeam && users.senderIsCoach) { %>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn-invite btn btn-outline-success" onclick="teamInvite('<%= user.UserId %>', 'Пригласить')">
                        <i class="fas fa-user-plus"></i>
                    </button>
                </div>
            </div>
        <% } %>
</div>
<% }); %>